.seats {
  display: inline-block;
  padding: 50px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
  margin: 10px;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.back {
  z-index: 1000;
}

.selected-seat {
  background: rgba(255, 255, 255, 0.3);
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.reserved {
  background: rgba(255, 0, 80,0.5);
}

.error {
  position: fixed;
  margin: 10px;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
  top: 0;
  right: 0;
  background: rgba(255, 0, 80,0.6);
}

.information {
  position: fixed;
  margin: 10px;
  border-radius: 10px;
  padding: 15px 15px 0 15px;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
}

.form {
  width: 50%;
  margin: auto;
}

input {
  margin-bottom: 30px;
}

.center {
  margin: auto;
  text-align: center;
}

button {
  height: auto !important;
  padding: 0 50px !important;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 21px;
  color: white;
}
